html {
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a:hover{
	font-size: 110%;
}

.typing{
	color: #cccccc;
	font-family: Georgia, sans-serif;

}

.menu{
	height: 8%;
	width: 100%;
	padding: 1%;
	color: #fff;
	background-color: rgba(15, 15, 15, .9);
	position: fixed;
	text-decoration: none;
}

.categories{
	display: flex;
	align-items: center;
	justify-content: center;
}


.nav-link{
	text-decoration: none;
	color: #fff;
}

.wrapper{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('cc_bg.jpg');
	background-position: center 60%;
	color: #cccccc;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper-h1{
	margin-top: 5%;
	font-size: 400%;
	font-family: Georgia, sans-serif;
}

.wrapper-h2{
	color: #BFBFBF;
	margin-left: 35%;
}

.wrapper-logo{
	margin-left: 30%;
	margin-right: 30%;
	height: 200px;
}

.section-2{
	width: 100%;
	height: 100vh;
	background: #222222;
	color: #ffffff;
	display: flex;

}

.s2-left{
	width: 50%;
	height: 100%;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	text-shadow: 5px 5px 5px black;

}

.s2-img{
	height: 85%;
	margin-top: 5%;
	margin-left: 15%;
	box-shadow: 10px 10px 10px darkgray;
}

.s2-p{
	font-family: serif;
	width: 50%;
	font-size: 125%;
}

.s2-h1{
	margin-top: 5%;
	font-size: 400%;
	font-family: Georgia, sans-serif;
}

.section-3{
	width: 100%;
	height: 100vh;
	background: #222222;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.s3-h1{
	font-size: 250%;
	font-family: Georgia, sans-serif;
	text-align: center;
}

.s3-img{
	height: 70vh;
	box-shadow: 10px 10px 10px #666;
}

.section-4{
	width: 100%;
	height: 100vh;
	background: #222222;
	color: #ffffff;
	display: flex;
	align-items: center; 
	justify-content: center;
} 

